
<div class="grid_wrapper">

  <% for (i in data.projects) { project = data.projects[i]; %>
    <div class="panel panel-<%= project.colour %> project_panel" id="project_panel_<%= i %>">
      <div class="panel-heading">
        <h3 class="panel-title"><%= project.name %></h3>
      </div>
      <div class="panel-body">
        <div class="project_panel_description_div">
          <p><%= project.description %></p>
        </div>
        <div class="project_panel_button_div">
          <div class="btn-group project_panel_edit_button">
            <div class="btn-group">
              <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Edit
              </a>
              <ul class="dropdown-menu">
                <li><input class="form-control" type="text" name="name" value="<%= project.name %>" placeholder="name"></li>
                <li><textarea class="form-control" type="text" name="description" placeholder="description"><%= project.description %></textarea></li>
                <li><div><button class="btn btn-default btn-sm project_save">Save</button><button class="btn btn-warning btn-sm project_delete">Delete</button><div></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  <div class="well add_project_div">
    <h1>+</h1>
  </div>

</div>

<script type="text/javascript">

  $(function() {

    $('.panel-heading').click(function(event) {
      child = event.target.childNodes[0];
      window.location.href = '/project/' + child.data.replace(/ /g, '-');
    });

    add_project_click = function(event) {
      $('.add_project_div').fadeOut(function() {
          $('.add_project_div').html(
            `
              <input id="add_project_name_input" class="form-control" type="text" name="name" placeholder="name">
              <textarea id="add_project_description_input" class="form-control" rows="1" type="text" name="description" placeholder="description"></textarea>
              <select id="add_project_colour_input" class="form-control add_project_colour_select">
                <option value="info">Blue</option>
                <option value="success">Green</option>
                <option value="danger">Pink</option>
              </select>
              <button class="btn btn-default btn-md add_project_save_btn">Save</button>
              <button class="btn btn-warning btn-md add_project_cancel_btn">Cancel</button>
            `
          );
          $('.add_project_div').unbind('click');
          $('.add_project_cancel_btn').click(add_project_cancel);
          $('.add_project_save_btn').click(add_project_save);
          $('.add_project_div').fadeIn();
      });
    }

    $('.add_project_div').click(add_project_click);

    add_project_save = function(event) {
      $('.add_project_div').fadeOut(function() {
        var project_data = {
          name: $('#add_project_name_input').val(),
          description: $('#add_project_description_input').val(),
          colour: $('#add_project_colour_input').val()
        }
        $('.add_project_div').html('<h1>+</h1>');
        $('.add_project_div').click(add_project_click);
        $('.add_project_div').fadeIn();
        // call ajax save
        // if successfull output project panel
        build_project_panel(project_data);
      });
    }

    build_project_panel = function(data) {
      project_panel = `
          <div class="panel panel-`+ data.colour +` project_panel" id="`+ data.name.replace(/ /g, '_') +`">
            <div class="panel-heading">
              <h3 class="panel-title">`+ data.name +`</h3>
            </div>
            <div class="panel-body">
              <div class="project_panel_description_div">
                <p>`+ data.description +`</p>
              </div>
              <div class="project_panel_button_div">
                <div class="btn-group project_panel_edit_button">
                  <div class="btn-group">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Edit
                    </a>
                    <ul class="dropdown-menu">
                      <li><input class="form-control" type="text" name="name" value="`+ data.name +`" placeholder="name"></li>
                      <li><textarea class="form-control" type="text" name="description" placeholder="description">`+ data.description +`</textarea></li>
                      <li><div><button class="btn btn-default btn-sm project_save">Save</button><button class="btn btn-warning btn-sm project_delete">Delete</button><div></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;
        $('.add_project_div').before(project_panel);
        $('.project_save').click(edit_project_save_click);
        $('.project_delete').click(edit_project_delete_click);
    }

    add_project_cancel = function(event) {
      $('.add_project_div').fadeOut(function() {
        $('.add_project_div').html('<h1>+</h1>');
        $('.add_project_div').click(add_project_click);
        $('#project_name_input').val(''),
        $('#project_description_input').val(''),
        $('.add_project_div').fadeIn();
      });
    }

    edit_project_save_click = function(event){
      var project_name = $(event.target).parents('ul').children('li')[0].firstChild.value;
      var project_description = $(event.target).parents('ul').children('li')[1].firstChild.value;
      // ajax to save content
      // if content saves then update element
      $(event.target).parents('.panel')[0].childNodes[1].firstElementChild.innerHTML = project_name;
      $(event.target).parents('.panel')[0].children[1].children[0].children[0].innerHTML = project_description;
    }

    edit_project_delete_click = function(event){
      if (!confirm('Are you sure you want to delete this project and all its contents?')) return
      var project_name = $(event.target).parents('ul').children('li')[0].firstChild.attributes.value.value;
      var panel_id = $(event.target).parents('.panel')[0].attributes.id.value;
      // delete with ajax
      $('#' + panel_id).fadeOut(
        $('#' + panel_id).remove()
      );
    }

    $('.project_save').click(edit_project_save_click);
    $('.project_delete').click(edit_project_delete_click);

  })

</script>
