
<div id="note_container">
  <div id="note_header" class="row">
    <div class="col-lg-3">
      <div id="note_title"></div>
      <input type="text" class="form-control no_radius" id="title_input" placeholder="Title" value="<%= note.title %>">
    </div>
    <div class="col-lg-3">
      <select class="form-control no_radius type_select" id="type_input">
        <% for (i in types) { %>
          <% if (types[i].name == note.type) { %>
            <<option selected="true" value="<%= types[i].name %>"><%= types[i].name %></option>
          <% } else {%>
            <<option value="<%= types[i].name %>"><%= types[i].name %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control no_radius tag_select" id="tag_input">
        <option value="">None</option>
        <% for (i in tags) { %>
          <% if (tags[i].name == note.tag) { %>
            <<option selected="true" value="<%= tags[i].name %>"><%= tags[i].name %></option>
          <% } else {%>
            <<option value="<%= tags[i].name %>"><%= tags[i].name %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-success btn-md no_radius" id="save_note_edit_button" onclick="save_note()">Save Edit</button>
      <i id="check_icon" class="text-success fa fa-check fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  <div id="note_content">
    <div id="summernote"><%- note.content %></div>
  </div>
  <%
    var date_split = note.updatedAt.toISOString().split('T');
    var date_formated = date_split[0] + ' ' + date_split[1].split('.')[0];
  %>
  <%= date_formated %>
  <span class="label label-default" id="content_change_alert">content changed</span>
</div>

<script type="text/javascript">

  $('#check_icon').hide();

  $(document).ready(function(){
      $('#content_change_alert').hide();
      $('#summernote').summernote({
        height: 600,
      });
      $('#crumbs').append('<li><a href="/notes/<%= note._creator %>">All Notes</a></li>');
  });

  original_note_content = `<%- note.content; %>`;

  $('#note_content').keyup(function(event){
    var new_note_content = $('#summernote').summernote('code');
    if (new_note_content != original_note_content) {
      // content change
      $('#content_change_alert').fadeIn();
    } else {
      // no content change
      $('#content_change_alert').fadeOut();
    }
  });

  function save_note() {
    var note_data = {
      id: '<%= note._id; %>',
      project_id: '<%= note._creator; %>',
      title: $('#title_input').val(),
      type: $('#type_input').val(),
      tag: $('#tag_input').val(),
      content: $('#summernote').summernote('code')
    }
    if (note_input_validation(note_data)) return;
    $.ajax({
      url: "/notes",
      type: 'PUT',
      data: note_data,
      success: function(response) {
        if (response.status == true) {
          // no issues, give some feedback
          $('#check_icon').fadeIn(function() {
            setTimeout(check_fade_out, 1000);
          });
        } else {
          // there was an issue
        }
      },
    });
  }

  function check_fade_out() {
    $('#check_icon').fadeOut();
  }

  function note_input_validation(note_data) {
    errors = false;
    if (!note_data.title) {
      $('#title_input').addClass('error_shadow');
      errors = true;
    } else {
      $('#title_input').removeClass('error_shadow');
    }
    return errors;
  }

</script>
