
<div>
  <div id="add_note_div">
    <button class="btn btn-success btn-md no_radius" id="add_note_button" data-toggle="modal" data-target="#create_note_modal">Add New Note</button>
  </div>
  <div id="note_filter_div">
    <div class="row">
      <div class="col-lg-3">
        <select id="type_filter" class="no_radius form-control">
          <option value="">All</option>
          <option value="">Text</option>
          <option value="">Link</option>
          <option value="">Issue</option>
          <option value="">Task</option>
        </select>
      </div>
      <div class="col-lg-3">
        <input type="text" placeholder="enter type" class="no_radius form-control">
      </div>
      <div class="col-lg-3">
        <select id="tag_filter" class="no_radius form-control">
          <option value="">All</option>
          <option value="">Frontend</option>
          <option value="">Backend</option>
          <option value="">Javascript</option>
          <option value="">Ruby</option>
          <option value="">Python</option>
        </select>
      </div>
      <div class="col-lg-3">
        <input type="text" placeholder="enter tag" class="no_radius form-control">
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<hr id="filter_seperator">
<div id="note_table_div">
  <table class="table table-striped project_table">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Type</th>
      <th>Tag</th>
      <th>Steps</th>
      <th>File</th>
      <th>Date</th>
    </thead>
    <tbody id="note_table_body">
      <% for (i in notes) { note = notes[i]; %>
        <tr>
          <td><a href="note/<%= note._id %>">View</a>&nbsp;|&nbsp;<a href="#" onclick="show_glimps('<%= note._id %>')">Glimpse</a></td>
          <td><%= note.title; %></td>
          <td><%= note.type; %></td>
          <td><%= note.tag; %></td>
          <td></td>
          <td></td>
          <td>
            <%
              var date_split = note.createdAt.toISOString().split('T');
              var date_formated = date_split[0] + ' ' + date_split[1].split('.')[0];
            %>
            <%= date_formated %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- create note modal -->
<div class="modal fade" id="create_note_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog create_note_modal" role="document">
    <div class="modal-content no_radius ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Note</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control no_radius" id="title_input" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <select class="form-control no_radius" id="type_input">
                <option value="">Select Type</option>
                <option value="text">Text</option>
                <option value="link">Link</option>
                <option value="issue">Issue</option>
                <option value="task">Task</option>
              </select>
            </div>
            <div class="col-sm-6">
              <select class="form-control no_radius" id="tag_input">
                <option value="">Select Tag</option>
                <option value="frontend">Frontend</option>
                <option value="backend">Backend</option>
                <option value="javascript">Javascript</option>
                <option value="ruby">Ruby</option>
                <option value="python">Python</option>
              </select>
            </div>
          </div>
          <div class="form-group" id="summernote_wrapper">
            <div class="col-sm-12" id="summernote"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success no_radius" onclick="save_note('<%= project_id %>')">Save changes</button>
        <button type="button" class="btn btn-default no_radius" dsata-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- glimpse modal -->
<div class="modal fade" id="glimpse_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog glimpse_modal" role="document">
    <div class="modal-content no_radius ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Glimpse</h4>
      </div>
      <div class="modal-body">
        <div id="glimpse_content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning no_radius" onclick="delete_note()">Delete</button>
        <button type="button" class="btn btn-default no_radius" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  notes = [
    <% for (i in notes) { %>
      {
        id: '<%- notes[i]._id; %>',
        title: '<%- notes[i].title; %>',
        type: '<%- notes[i].type; %>',
        tag: '<%- notes[i].tag; %>',
        content: `<%- notes[i].content; %>`,
      },
    <% } %>
  ];

  $(document).ready(function(){
      datatable = $('.project_table').DataTable({
        order: [[6, "desc"]]
      });
      $('#summernote').summernote({
        height: 400
      });
  });

  function save_note(project_id) {
    var note_data = {
      project_id: project_id,
      title: $('#title_input').val(),
      type: $('#type_input').val(),
      tag: $('#tag_input').val(),
      content: $('#summernote').summernote('code')
    }
    // validate first and alert user if issues
    $.post('/notes', note_data, function(response) {
      if (response.status == true) {
        $('#create_note_modal').modal('toggle');
        setTimeout(function() {
          $('#title_input').val('');
          $('#content_input').val('');
          $('#type_input').val('');
          $('#tag_input').val('');
        }, 2000);
        add_table_row(response.note);
      } else {
        // there was an issue
      }
    });
  }

  function add_table_row(note) {
    var table_body = $('#note_table_body');
    var date_split = note.createdAt.split('T');
    var date_formated = date_split[0] + ' ' + date_split[1].split('.')[0];
    datatable.row.add([
      '<a href="note/'+ note._id +'">View</a>&nbsp;|&nbsp;<a href="#" onclick="show_glimps(`'+ note._id +'`)">Glimpse</a>',
      note.title,
      note.type,
      note.tag,
      '',
      '',
      date_formated
    ]);
    datatable.order([6, 'desc']).draw();
  }

  function show_glimps(note_id) {
    for (i in notes) {
      if (note_id == notes[i].id) {
        $('#glimpse_content').html('');
        $('#glimpse_content').append('<div id="glimpse_note_id" class="hidden">' + notes[i].id + '</div>');
        $('#glimpse_content').append(notes[i].content);
        $('#glimpse_modal').modal('toggle');
      }
    }
  }

  function delete_note() {
    var note_id = $('#glimpse_note_id').html();
    if (confirm('Are you sure you want to delete this note?')) {
      $.ajax({
        url: "/notes/" + note_id,
        type: 'DELETE',
        success: function(response) {
          if (response.status == true) {
            $('#glimpse_modal').modal('toggle');
            // remove row from table
          }
        },
      });
    }
  }

</script>
