
<div>
  <div id="add_note_div">
    <button class="btn btn-success btn-md no_radius" id="add_note_button" data-toggle="modal" data-target="#create_note_modal">Add New Note</button>
  </div>
  <div id="note_filter_div">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <select id="type_filter" class="no_radius form-control type_select">
          <option value="all">All Types</option>
          <% for (i in types) { %>
            <<option value="<%= types[i].name %>"><%= types[i].name %></option>
          <% } %>
        </select>
      </div>
      <div class="col-lg-4">
        <select id="tag_filter" class="no_radius form-control tag_select">
          <option value="all">All Tags</option>
          <% for (i in tags) { %>
            <<option value="<%= tags[i].name %>"><%= tags[i].name %></option>
          <% } %>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<hr id="filter_seperator">
<div id="note_table_div">
  <table class="table table-striped project_table">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Type</th>
      <th>Tag</th>
      <th>Link</th>
      <th>File</th>
      <th>Date</th>
    </thead>
    <tbody id="note_table_body">
      <% for (i in notes) { note = notes[i]; %>
        <tr class="note_table_row" id="row_<%= note._id %>">
          <td><div class="actions_cell_div"><a href="note/<%= note._id; %>">View</a>&nbsp;|&nbsp;<a href="#" onclick="show_glimpse('<%= note._id; %>')">Glimpse</a></div></td>
          <td><div class="cell_div"><h5 class="note_title_header"><b><%= note.title; %></b></h5></div></td>
          <td><div class="cell_div"><%= note.type; %></div></td>
          <td><div class="cell_div"><%= note.tag; %></div></td>
          <td>
            <div class="cell_div">
              <% if (note.type == 'link' || note.type == 'video') { %>
                <a href="#" onclick="go_to_link('<%= note.type; %>', '<%= note._id; %>')">go to link</a>
              <% } %>
            </div>
          </td>
          <td><div class="cell_div"></div></td>
          <td>
            <div class="cell_div">
              <%
                var date_split = note.createdAt.toISOString().split('T');
                var date_formated = date_split[0] + ' ' + date_split[1].split('.')[0];
              %>
              <%= date_formated %>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- create note modal -->
<div class="modal fade" id="create_note_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog create_note_modal" role="document">
    <div class="modal-content no_radius ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Note</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group" id="title_input_group">
            <div class="col-sm-12">
              <input type="text" class="form-control no_radius" id="title_input" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <select class="form-control no_radius type_select" id="type_input">
                <option value="">Select Type</option>
                <% for (i in types) { %>
                  <<option value="<%= types[i].name %>"><%= types[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-sm-3">
              <input type="text" placeholder="enter new type" id="new_type_input" class="no_radius form-control">
            </div>
            <div class="col-sm-3">
              <select class="form-control no_radius tag_select" id="tag_input">
                <option value="">None</option>
                <% for (i in tags) { %>
                  <<option value="<%= tags[i].name %>"><%= tags[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-sm-3">
              <input type="text" placeholder="enter new tag" id="new_tag_input" class="no_radius form-control">
            </div>
          </div>
          <div class="form-group" id="summernote_wrapper">
            <div class="col-sm-12" id="summernote"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success no_radius" onclick="save_note('<%= project_id %>')">Save changes</button>
        <button type="button" class="btn btn-default no_radius" data-dismiss="modal" onclick="remove_error_glow()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- glimpse modal -->
<div class="modal fade" id="glimpse_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog glimpse_modal" role="document">
    <div class="modal-content no_radius ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Glimpse</h4>
      </div>
      <div class="modal-body">
        <div id="glimpse_content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning no_radius" id="note_delete_button">Delete</button>
        <button type="button" class="btn btn-default no_radius" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  notes = [
    <% for (i in notes) { %>
      {
        id: '<%- notes[i]._id; %>',
        title: '<%- notes[i].title; %>',
        type: '<%- notes[i].type; %>',
        tag: '<%- notes[i].tag; %>',
        content: `<%- notes[i].content; %>`,
      },
    <% } %>
  ];

  $(document).ready(function(){
      datatable = $('.project_table').DataTable({
        order: [[6, "desc"]]
      });
      $('#summernote').summernote({
        height: 400
      });
  });

  function go_to_link(link_type, note_id) {
    var note_content = '';
    for (i in notes) {
      if (notes[i].id == note_id) {
        note_content = notes[i].content;
        break;
      }
    }
    if (link_type == 'video') {
      var content_split = note_content.split('"');
      var video_url = 'https://' + content_split[1].replace('//', '').replace('/embed/', '/watch?v=');
      window.open(video_url);
    } else {
      var content_split = note_content.split('"');
      window.open(content_split[1]);
    }
  }

  function save_note(project_id) {
    var note_data = {
      project_id: project_id,
      title: $('#title_input').val(),
      type: $('#type_input').val(),
      tag: $('#tag_input').val(),
      content: $('#summernote').summernote('code')
    }
    // validate first and alert user if issues
    if (note_input_validation(note_data)) return;
    $.post('/notes', note_data, function(response) {
      if (response.status == true) {
        var note = response.note;
        $('#create_note_modal').modal('toggle');
        setTimeout(function() {
          $('#title_input').val('');
          $('#type_input').val('');
          $('#tag_input').val('');
          $('#summernote').summernote('code', '');
        }, 2000);
        notes.push({
          id: note._id,
          title: note.title,
          type: note.type,
          tag: note.tag,
          content: `` + note.content + ``,
        });
        add_table_row(note);
      } else {
        // there was an issue
      }
    });
  }

  function note_input_validation(note_data) {
    var errors = false;
    if (!note_data.title) {
      $('#title_input').addClass('error_shadow');
      errors = true;
    } else {
      $('#title_input').removeClass('error_shadow');
    }
    if (!note_data.type) {
      $('#type_input').addClass('error_shadow');
      errors = true;
    } else {
      $('#type_input').removeClass('error_shadow');
    }
    return errors;
  }

  function remove_error_glow() {
    $('#type_input').removeClass('error_shadow');
    $('#title_input').removeClass('error_shadow');
  }

  function format_date(date) {
    var date_split = date.split('T');
    var date_formated = date_split[0] + ' ' + date_split[1].split('.')[0];
    return date_formated;
  }

  function add_table_row(note) {
    var table_body = $('#note_table_body');
    var row_data = [
      '<div class="actions_cell_div"><a href="note/'+ note._id +'">View</a>&nbsp;|&nbsp;<a href="#" onclick="show_glimpse(`'+ note._id +'`)">Glimpse</a></div>',
      '<div class="cell_div"><h5 class="note_title_header"><b>'+ note.title +'</b></h5></div>',
      '<div class="cell_div">'+ note.type +'</div>',
      '<div class="cell_div">'+ note.tag +'</div>',
      '<div class="cell_div"></div>',
      '<div class="cell_div"></div>',
      '<div class="cell_div">'+ format_date(note.createdAt) +'</div>'
    ];
    if (note.type == 'link' || note.type == 'video') {
      row_data[4] = `<div class="cell_div"><a href="#" onclick="go_to_link('`+ note.type +`', '`+ note._id +`')">go to link</a></div>`
    }
    var row = datatable.row.add(row_data).node();
    $(row).attr('id', 'row_' + note._id);
    $(row).attr('class', 'note_table_row');
    datatable.order([6, 'desc']).draw();
  }

  $('#type_filter').change(function() {
    var type_filter = $('#type_filter').val();
    var tag_filter = $('#tag_filter').val();
    get_filtered_table_data(type_filter, tag_filter);
  });

  $('#tag_filter').change(function() {
    var type_filter = $('#type_filter').val();
    var tag_filter = $('#tag_filter').val();
    get_filtered_table_data(type_filter, tag_filter);
  });

  function get_filtered_table_data(type_filter, tag_filter) {
    $.get('filter/<%= project_id %>/'+ type_filter +'/'+ tag_filter, function(response) {
      if (response.status == true) {
        replace_table_data(response.data)
      } else {
        // there was an issue
      }
    });
  }

  function replace_table_data(table_data) {
    var filtered_table = [];
    datatable.clear();
    for (i in table_data) {
      var note = table_data[i];
      var row_data = [
        '<div class="actions_cell_div"><a href="note/'+ note._id +'">View</a>&nbsp;|&nbsp;<a href="#" onclick="show_glimpse(`'+ note._id +'`)">Glimpse</a></div>',
        '<div class="cell_div"><h5 class="note_title_header"><b>'+ note.title +'</b></h5></div>',
        '<div class="cell_div">'+ note.type +'</div>',
        '<div class="cell_div">'+ note.tag +'</div>',
        '<div class="cell_div"></div>',
        '<div class="cell_div"></div>',
        '<div class="cell_div">'+ format_date(note.createdAt) +'</div>'
      ];
      if (note.type == 'link' || note.type == 'video') {
        row_data[4] = `<div class="cell_div"><a href="#" onclick="go_to_link('`+ note.type +`', '`+ note._id +`')">go to link</a></div>`
      }
      var row = datatable.row.add(row_data).node();
      $(row).attr('id', 'row_' + note._id);
      $(row).attr('class', 'note_table_row');
    }
    datatable.order([6, 'desc']).draw();
  }

  function show_glimpse(note_id) {
    for (i in notes) {
      if (note_id == notes[i].id) {
        $('#glimpse_content').html('');
        $('#glimpse_content').append('<div id="glimpse_note_id" class="hidden">' + notes[i].id + '</div>');
        $('#glimpse_content').append(notes[i].content);
        $('#glimpse_modal').modal('toggle');
      }
    }
  }

  $('#note_delete_button').click(function() {
    var note_id = $('#glimpse_note_id').html();
    if (confirm('Are you sure you want to delete this note?')) {
      $.ajax({
        url: "/notes/" + note_id,
        type: 'DELETE',
        success: function(response) {
          if (response.status == true) {
            $('#glimpse_modal').modal('toggle');
            datatable.row($('#row_' + note_id)).remove().order([6, 'desc']).draw();
          }
        },
      });
    }
  });

  $('#new_type_input').keyup(function(event){
    if(event.keyCode == 13) {
      var type_value = $("#new_type_input").val();
      if (type_value) {
        $.post('/notes/filter_type', {type: 'type', value: type_value}, function(response) {
          if (response.status == true) {
            $("#new_type_input").val('');
            $('.type_select').append('<option value="'+ type_value +'">'+ type_value +'</option>');
          } else {
            // there was an issue
          }
        });
      }
    }
  });

  $('#new_tag_input').keyup(function(event){
    if(event.keyCode == 13) {
      var tag_value = $("#new_tag_input").val();
      if (tag_value) {
        $.post('/notes/filter_type', {type: 'tag', value: tag_value}, function(response) {
          if (response.status == true) {
            $("#new_tag_input").val('');
            $('.tag_select').append('<option value="'+ tag_value +'">'+ tag_value +'</option>');
          } else {
            // there was an issue
          }
        });
      }
    }
  });

</script>
