
<!-- project id -->
<div class="hidden"><%= project_id %></div>

<div>
  <div id="add_note_div">
    <button class="btn btn-success btn-md no_radius" id="add_note_button" data-toggle="modal" data-target="#create_note_modal">Add New Note</button>
  </div>
  <div id="note_filter_div">
    <div class="row">
      <div class="col-lg-3">
        <select id="type_filter" class="no_radius form-control">
          <option value="">All</option>
          <option value="">Text</option>
          <option value="">Link</option>
          <option value="">Issue</option>
          <option value="">Task</option>
        </select>
      </div>
      <div class="col-lg-3">
        <input type="text" placeholder="enter type" class="no_radius form-control">
      </div>
      <div class="col-lg-3">
        <select id="tag_filter" class="no_radius form-control">
          <option value="">All</option>
          <option value="">Frontend</option>
          <option value="">Backend</option>
          <option value="">Javascript</option>
          <option value="">Ruby</option>
          <option value="">Python</option>
        </select>
      </div>
      <div class="col-lg-3">
        <input type="text" placeholder="enter tag" class="no_radius form-control">
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<hr id="filter_seperator">
<div id="note_table_div">
  <table class="table table-striped project_table">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Type</th>
      <th>Tag</th>
      <th>Steps</th>
      <th>File</th>
    </thead>
    <tbody id="note_table_body">
      <% for (i in notes) { note = notes[i]; %>
        <tr>
          <td><a>View</a></td>
          <td><%= note.title %></td>
          <td><%= note.type %></td>
          <td><%= note.tag %></td>
          <td>none</td>
          <td>none</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- create note modal -->
<div class="modal fade" id="create_note_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no_radius create_note_modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Note</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <!-- <label for="title" class="col-sm-2 control-label">Title</label> -->
            <div class="col-sm-12">
              <input type="text" class="form-control no_radius" id="title_input" name="title" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="type" class="col-sm-2 control-label">Type</label> -->
            <div class="col-sm-6">
              <select class="form-control no_radius" id="type_input" name="type">
                <option value="">Select Type</option>
                <option value="text">Text</option>
                <option value="link">Link</option>
                <option value="issue">Issue</option>
                <option value="task">Task</option>
              </select>
            </div>
            <!-- <label for="tag" class="col-sm-2 control-label">Tag</label> -->
            <div class="col-sm-6">
              <select class="form-control no_radius" id="tag_input" name="tag">
                <option value="">Select Tag</option>
                <option value="">Frontend</option>
                <option value="">Backend</option>
                <option value="">Javascript</option>
                <option value="">Ruby</option>
                <option value="">Python</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control no_radius" name="content" id="content_input" rows="8" placeholder="Note Content..."></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default no_radius" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success no_radius" onclick="save_note('<%= project_id %>')">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
      $('.project_table').DataTable();
  });

  function save_note(project_id) {
    var note_data = {
      title: $('#title_input').val(),
      type: $('#type_input').val(),
      tag: $('#tag_input').val(),
      content: $('#content_input').val()
    }
    $.post('/notes', note_data, function(response) {
      // console.log(response);
      if (response.status == true) {
        // refresh table
      } else {
        // there was an issue
      }
    });
  }

</script>
